body{
    width: 100%;
    }
    
    *{
    padding: 0;
    margin: 0;
    }
    .all .first a{
    font-family: "微软雅黑";
    font-size: smaller ;
    color: black;
    font-weight:bold ;
    }
    
    .all .first a:hover{
    color: blue;
    }
    
    .all{
    width: 1600px;
    }
    
    .all .first{
    position: absolute;
    top: 20px;
    right:14px;
    }
    
    .all .second{
    height:350px;
    padding-left: 650px;
    padding-top: 80px;
    }
    
    .all .third{
    width:1595px;
    height:280px;
    position: relative;
    
    
    
    }
    
    .all .first .product{
    background:cornflowerblue;
    display: inline-block;
    height: 20px;
    width: 58px;
    
    }
    
    .all .first .product a{
    color: white;
    text-decoration: none;
    
    }
    
    .all .second .shuru{
    width: 539px;
    height: 34px;
    border: 1px solid dodgerblue;
    position: absolute;
    left: 477px;
    top: 240px;
    
    
    }
    
    .all .second .ok{
    width: 100px;
    height: 36px; 
    color: white;
    background: #317ef3;
    border: 0;
    font-size:medium;
    position: absolute;
    top:240px;
    left: 1018px;
    }
    
    .all .third .er{
    position: absolute;
    top: 100px;
    left: 755px;
    }
    
    .all .third .mobile{
    color: gray;
    font-size: small;
    font-weight: bold;
    font-family: "微软雅黑"; 
    width: 55px;
    height: 20px;
    position: absolute;
    top:160px;
    left: 755px;
    
    }
    
    .all .third .h{
    position: absolute;
    top:200px;
    left:600px;
    width: 550px;
    height: 20px;
    }
    
    .all .third .r{
    position: absolute;
    top:220px;
    left:530px;
    width: 580px;
    height: 20px;
    }
    
    .all .third a{
    font-family: "微软雅黑";
    font-size: smaller;
    color: gray;
    }